.input-reset {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background-color: #fff;
}
.input-reset::-webkit-search-decoration,
.input-reset::-webkit-search-cancel-button,
.input-reset::-webkit-search-results-button,
.input-reset::-webkit-search-results-decoration {
      display: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.page {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: rgb(124, 231, 255);
}

.container {
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    gap: 20px;


}

.filter-form,
.student-form {
    /* margin-right: 50px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
}

.student-form {
    margin-right: auto;
}

.filter-form__title,
.student-form__title {
    margin: 0;
    font-size: 20px;
    font-weight: 900;
    color: rgb(14, 55, 23);
}

.filter-form__input,
.student-form__input {
    padding: 7px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(24, 24, 24);
    border-radius: 5px;
    border: 3px solid rgb(0, 48, 9);
    background-color: rgb(148, 148, 148, 50%);
    transition: 0.2s;
}

.filter-form__input:focus,
.student-form__input:focus,
.filter-form__input:hover,
.student-form__input:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.filter-form__input:active,
.student-form__input:active {
    background-color: rgb(79, 79, 79);
}

.filter-form__input::placeholder,
.student-form__input::placeholder {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    color: rgb(0, 48, 9);
}

.filter-btn,
.add-btn {
    padding: 10px 5px;
    margin-top: 42px;
    width: 40%;
    font-size: 14px;
    font-weight: 600;
    border-radius: 20px;
    color: beige;
    background-color: rgb(0, 87, 12);
    border: 3px solid rgb(16, 193, 48);
    transition: 0.2s;
    cursor: pointer;
}
.delete-btn {
  width: 30px;
  line-height: 1.5em;
  font-size: 20px;
  font-weight: 900;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(87, 0, 0);
  border: 3px solid rgb(195, 18, 18);
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 30px;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.delete-btn:hover {
    color: rgb(47, 0, 0);
    background-color: rgb(240, 92, 92);
    box-shadow: 0 0 4px 2px rgb(252, 100, 73);
}

.filter-btn {
    margin-top: 10px;
    width: 80%;
    font-weight: 300;
    font-style: oblique;
}

.filter-btn:focus-visible,
.add-btn:focus-visible {
    outline: none;
    border-color: rgb(0, 57, 10);
    color: #fff;
    background-color: rgb(46, 166, 62);
}

.filter-btn:hover,
.add-btn:hover {
    color: rgb(0, 36, 5);
    background-color: rgb(169, 255, 181);
    box-shadow: 0 0 4px 2px rgb(16, 193, 48);
}

.filter-btn:active,
.add-btn:active {
    box-shadow: none;
}

.student-table {
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}

.student-table__head-string {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 0.2fr;
    border-radius: 5px;
    border: 1px solid black;
}

.table-headings {
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.5em;
    color: rgb(0, 48, 9);
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.2s;
}

.table-headings svg {
    width: 40px;
    height: 40px;
}

.table-headings path {
    stroke: rgb(0, 48, 9);
}

.btn--active  .svg-arrow {
    transform: rotate(180deg);
}


.table-headings:hover {
    box-shadow: 0 0 4px 2px rgb(35, 35, 35);
    background-color: rgb(187, 236, 247);
    transform: scale(1.01);
}

.table-headings:active {
    background-color: rgb(40, 211, 249);
}

.wrapper-button {
    position: relative;
}

/* js */
.string-table {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 0.2fr;
    border-radius: 5px;
    border: 1px solid black;
}

.cell-table {
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    color: rgb(32, 32, 32);
    line-height: 1.5em;
    border: 1px solid black;
}

.error {
    padding: 5px;
    position: absolute;
    font-size: 12px;
    font-style: normal;
    text-align: center;
    color: bisque;
    background-color: rgb(161, 72, 72);
    border: 1px solid black;
    border-radius: 5px;
}


